.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    width: 375px;
}

.topContainer {
    display: flex;
    background-color: darkblue;
    color: white;
    font-size: 20px;
}

.bottomContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1px;
}

.topContainer div {
    padding-left: 35px;
    margin: 5px;
}

.bottomContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.bottomContainer div div {
    background-color: white;
    margin: 12px;
}

[class^="text1"] {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

[class^="text2"] {
    font-weight: bold;
    font-size: 16px;
}
